@font-face {
    font-family: 'PixelFont';
    src: url('PokemonGb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokeFont';
    src: url('Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --medblue: #001D49;
    --blue: #003A70;
    --red: #ff0000;
    --hp: #32CC19;
    --atk: #FF0000;
    --def: #FFD645;
    --spatk: #EF45FE;
    --spdef: #7A3CFF;
    --speed: #3DD6F8;

    --atkbase: #662343;
    --hpbase: #14754D;
    --defbase: #66795F;
    --spatkbase: #603EA9;
    --spdefbase: #313BA9;
    --spebase: #1879A6;
}

body {
    background-color: var(--medblue);
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'PixelFont';
}

.container {
    background-color: var(--blue);
    height: 60vh;
    margin: 0px 15px;
    margin-bottom: 100px;
}

.header {
    background-color: var(--medblue);
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PokeFont';
    font-size: 1.7rem;
    padding: 0px 0px 10px 0px;
    letter-spacing: 7px;
}

.centerPanel {
    display: flex;
    height: 88vh;
    width: 100%;
    background-color: var(--blue);
}

.mainPanel {
    width: 80vw;
    padding: 10px;
}

.question {
    font-size: 1.6rem;
    height: 10vh;
    padding: 5px 0px;
    text-align: center;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroPanel {
    display: flex;
    height: 55vh;
}

.spriteArea {
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pkmnStats {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pkmnStat {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.pkmnStatTitle {
    width: 20%;
    margin-right: 25px;
    font-size: 1rem;
}

.statBlock {
    border-radius: 40px;
    flex-grow: 0.75;
    height: 25px;
    position: relative;
}

.statBlockBar {
    border-radius: 40px;
    height: 100%;
    width: 50%;
}

.statNumber {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: white;
}

.pkmnMeasure {
    display: flex;
    justify-content: space-between;
}
.pkmnMeasure .pkmnStatTitle {
    width: fit-content;
    margin-top: 5px;
}

.imgBg {
    background-color: #003266;
    width: 23vw;
    height: 23vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.imgBg img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.buttonPanel {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.buttonPanel button {
    background-color: #32CC19;
    border: solid var(--medblue) 2px;
    height: 3.2rem;
    width: 9rem;
    margin: 10px;
    border-radius: 20px;
    font-family: 'PixelFont';
    padding: 5px;
}

.YourStats {
    background-color: var(--medblue);
    width: 20vw;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.yourStatsTitle {
    text-align: center;
    font-size: 1.2em;
}

.yourStats {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.yourStat {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

.yourStatTitle {
    width: 20%;
    margin-right: 25px;
    font-size: .9rem;
}

.YourStats .statBlock {
    border-radius: 40px;
    flex-grow: 0.8;
    height: 20px;
    position: relative;
}
.YourStats .statBlockBar {
    border-radius: 40px;
    height: 100%;
}

.atk {
    background-color: var(--atk);
}.atkbase {
    background-color: var(--atkbase);
}
.def {
    background-color: var(--def);
}.defbase {
    background-color: var(--defbase);
}
.hp {
    background-color: var(--hp);
}.hpbase {
    background-color: var(--hpbase);
}
.spdef {
    background-color: var(--spdef);
}.spdefbase {
    background-color: var(--spdefbase);
}
.spatk {
    background-color: var(--spatk);
}.spatkbase {
    background-color: var(--spatkbase);
}
.spe {
    background-color: var(--speed);
}.spebase {
    background-color: var(--spebase);
}
