@font-face {
    font-family: 'PixelFont';
    src: url('PokemonGb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokeFont';
    src: url('Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --medblue: #001D49;
    --blue: #003A70;
    --red: #ff0000;
    --hp: #32CC19;
    --atk: #FF0000;
    --def: #FFD645;
    --spatk: #EF45FE;
    --spdef: #7A3CFF;
    --speed: #3DD6F8;

    --atkbase: #6b6b6b;
    --hpbase: #6b6b6b;
    --defbase: #6b6b6b;
    --spatkbase: #6b6b6b;
    --spdefbase: #6b6b6b;
    --spebase: #6b6b6b;
}

body {
    background-color: var(--medblue);
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'PixelFont';
}

.container {
    background-color: var(--blue);
    height: 96vh;
    margin: 0px 15px;
}

.header {
    background-color: var(--medblue);
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'PokeFont';
    font-size: 1.7rem;
    padding: 0px 0px 10px 0px;
    letter-spacing: 7px;
}

.centerPanel {
    display: flex;
    height: 91vh;
    width: 100%;
}

.mainPanel {
    background-color: #FFD645;
    width: 80vw;
}

.question {
    font-size: 1.3rem;
    background-color: #3DD6F8;
    height: inherit;
    padding: 25px 0px;
    text-align: center;
    letter-spacing: 3px;
}

.heroPanel {
    display: flex;
    justify-content: center;
    height: 65vh;
    background-color: green;
}

.spriteArea {
    padding: 10px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pkmnStats {
    width: 60%;
    background-color: #FFD645;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.pkmnStat {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.pkmnStatTitle {
    width: 20%;
    margin-right: 25px;
    font-size: 1rem;
}

.statBlock {
    border-radius: 40px;
    flex-grow: 0.75;
    height: 25px;
}
.statBlockBar {
    border-radius: 40px;
    height: 100%;
    width: 50%;
}

.pkmnMeasure {
    display: flex;
    justify-content: space-between;
}
.pkmnMeasure .pkmnStatTitle {
    width: fit-content;
    margin-top: 5px;
}

.imgBg {
    background-color: #003266;
    width: 20vw;
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.imgBg img {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.buttonPanel {
    background-color: #3DD6F8;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.buttonPanel button {
    background-color: #32CC19;
    border: solid var(--medblue) 2px;
    height: 3.2rem;
    width: 9rem;
    margin: 10px;
    border-radius: 20px;
    font-family: 'PixelFont';
}

.YourStats {
    background-color: #EF45FE;
    width: 20vw;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.yourStatsTitle {
    text-align: center;
    font-size: 1em;
}

.yourStats {
    width: 60%;
    background-color: #FFD645;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.yourStat {
    display: flex;
    align-items: center;
    margin: 20px 0;
    justify-content: center;
}

.yourStatTitle {
    width: 20%;
    margin-right: 25px;
    font-size: .9rem;
}

.YourStats .statBlock {
    border-radius: 40px;
    flex-grow: 0.8;
    height: 20px;
}
.YourStats .statBlockBar {
    border-radius: 40px;
    height: 100%;
}

.atk {
    background-color: var(--atk);
}
.atkbase {
    background-color: var(--atkbase);
}
.def {
    background-color: var(--def);
}
.defbase {
    background-color: var(--defbase);
}
.hp {
    background-color: var(--hp);
}
.hpbase {
    background-color: var(--hpbase);
}
.spdef {
    background-color: var(--spdef);
}
.spdefbase {
    background-color: var(--spdefbase);
}
.spatk {
    background-color: var(--spatk);
}
.spatkbase {
    background-color: var(--spatkbase);
}
.spe {
    background-color: var(--speed);
}
.spebase {
    background-color: var(--spebase);
}
